@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body, p, b, dl, dd, table, td, th, input, img, form, div, ul, li,iframe{ margin:0; padding:0;}
ul{list-style:none}
.lywrap { height:400px; overflow:hidden; padding:0 15px;}
.lywrap ul { width:100%; line-height:20px;}
.lywrap ul li { padding:5px;}
.lywrap ul li .name { font-weight:bold; color:#b90101;padding:10px 0 10px 15px; line-height:20px;}
.lywrap ul li .lycon { border-bottom:1px dashed #ccc; background:#fff; color:#000; padding:15px 10px 25px 10px; overflow:hidden; }

.lywrap ul li .lycon img{ float:left; padding-right:20px;}